
.inline-form-items .form-item label,
.inline-form-items .form-item input {
  float: left;
  clear: none;
  padding-right: 0.5em;
}

.inline-form-items > .form-item {
  float: left;
  margin: 0;
  padding-right: 1em;
}


/* select or text elements
----------------------------*/
form .form-type-select-or-text select {
  margin-right: 1em;
}


/* Help popup
----------------------------*/
.iw-popup-help {
  float: none;
  clear: both;
}

/* Hidden until placed into a popup */
.iw-popup-help .help-content {  display: none; }


/* Rearrange Element
-----------------------------*/
.sort-bin {
  background: #eaeaea;
  border: 1px solid #ccc;
  padding: 0;
  margin-bottom: 1em;
}

.sort-bin > div { margin: 2px 16px; }
.sort-bin > div.container { min-height: 20px; }

.sort-bin > .handle-title {
  background-color: #ccc;
  padding: 4px 20px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
}

.sort-bin.sortable > .handle-title {
  background-image: url("/misc/draggable.png");
  background-repeat: no-repeat;
  background-position: 4px 8px;
}

.sort-bin.sortable > .handle-title:hover {
  background-color: #0074bd;
  background-position: 4px -32px;
  color: #fff;
}

.sort-bin .container .bin-item {
  background: #ccc;
  padding: 0px 12px;
  margin-bottom: 4px;
}

.sort-bin .container .bin-item .handle-title {
  background: transparent url("/misc/draggable.png") no-repeat 4px 8px;
  float: left;
  width: 200px;
  font-weight: bold;
  padding: 4px 20px;
  margin: 0px;
}

.sort-bin .container .bin-item .form-item {
  padding: 4px;
  margin: 0;
}

.sort-bin .container {
  border: 2px dashed #ccc;
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 1em;
}


/* Image Selector
-----------------------------*/
form .form-type-image-selector.form-item {
  padding: 0 0.5em;
  border: 1px solid #ccc;
}

.form-type-image-selector .image-preview {
  display: inline-block;
  border: solid 2px #ccc;
  padding: 3px;
  margin: 5px 0;
  vertical-align: top;

  /* IE 6 & 7 support */
  zoom: 1;
  *display: inline;
}
.form-type-image-selector .image-preview img { border: 1px solid #ccc; }

.image-selector-popup .image-selector-preview,
.form-type-image-selector .image-selector-preview {
  display: block;
  float: left;
  clear: none;
  width: 102px;
  height: 124px;
  background: transparent;
  border: solid 2px #ccc;
  padding: 3px;
  margin: 5px;
  overflow: hidden;
}

.form-type-image-selector .image-selector-preview {
  margin-right: 12px;
}

.image-selector-popup .image-selector-preview label,
.form-type-image-selector .image-selector-preview label {
  width: 102px;
  white-space: nowrap;
}

.image-selector-popup .image-selector-preview img,
.form-type-image-selector .image-selector-preview img {
  border: 1px solid #ccc;
}

.image-selector-popup .image-selector-preview.selected img {
  border: solid 1px #008;
}

.image-selector-popup .image-selector-preview.selected {
  background: #ccf;
  border: solid 2px #008;
}

div.popup-selection-wrapper { margin-bottom: .75em; }

div.popup-selection-wrapper a.button { margin-bottom: 0px; }
div.popup-selection-wrapper .select-mode-toggle { margin: 4px 0; }
div.popup-selection-wrapper .select-mode-toggle a {
  padding: 0 18px;
  font-size: 12px;
}

/* Popup dialog
--------------------------------------------*/
.image-selector-popup .ui-dialog-titlebar {
  background-color: #ccc;
}

.image-selector-popup .popup-selection-content .select-container {
  height: 400px;
  margin-bottom: 32px;
  border-bottom: 2px solid #e4e4e4;
  overflow-y: scroll;
}

.image-selector-popup .popup-selection-content .dlg-actions {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  clear: both;
  padding: 6px 40px 12px 0;
}
