
.menu-column {
	display: block;
	float: left;
}

.menu-column > ul.menu { margin: 12px; }

.menu-columns.column-container-1 .menu-column {	width: 100%; }
.menu-columns.column-container-2 .menu-column { width: 50%;  }
.menu-columns.column-container-3 .menu-column { width: 33.3333%; }
.menu-columns.column-container-4 .menu-column { width: 25%; }
.menu-columns.column-container-5 .menu-column { width: 20%; }
.menu-columns.column-container-6 .menu-column { width: 16.6666%; }