
#iwsearch-bundles-select .description {
  float: none;
  clear: both;
  padding-top: 1em;
}

#iwsearch-bundles-select .form-checkboxes > .form-type-checkbox {
  float: left;
  width: 225px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.form-item div.add-new-placeholder {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.package-summary {
  font-size: 0.9em;
  line-height: 125%;
}

.iwpackage-summary .property-label { font-weight: bold; }
