@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:400,700|PT+Serif:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/variables\/_vars\.scss}line{font-family:\0000347}}
.article-title {
  font-family: "PT Serif", Arial, sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/variables\/_vars\.scss}line{font-family:\0000352}}
  .article-title a {
    color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/variables\/_vars\.scss}line{font-family:\0000355}}
.underline {
  color: #336699;
  border-bottom: solid 2px #336699;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/variables\/_vars\.scss}line{font-family:\0000363}}
  .underline:after {
    position: absolute;
    border-bottom: solid 5px #336699;
    width: 65%;
    content: ' ';
    bottom: 0;
    left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\000035}}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 17px;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000311}}
a {
  color: #336699;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000314}}
  a:hover {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000317}}
.pullquote {
  color: #111111;
  float: right;
  font-size: 18px;
  font-variant: normal;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: right;
  width: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000332}}
.news-article {
  font-family: "PT Serif", Arial, sans-serif;
  font-weight: bold;
  color: #333333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000338}}
h1 {
  font-family: "PT Serif", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #336699;
  margin: 0 0 20px 0;
  line-height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000347}}
.gray-allcaps {
  font-size: 0.9em;
  color: #999999;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000353}}
.image-right {
  float: right;
  padding: 0 0 20px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000357}}
.image-left {
  float: left;
  padding: 0 20px 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joeybarra\/Documents\/projects\/commondreams\/sites\/all\/themes\/omega_dreams\/sass\/editor\.scss}line{font-family:\0000361}}
.caption {
  background: #f0f0f0;
  color: #333333;
  position: relative;
  top: -4px;
  font-size: 12px;
  font-style: normal;
  padding: 5px 10px; }
