

.discourse-comments-link {
  background: #999;
  float: right;
  color: #fff;
  padding: 2px 4px;
  line-height: 100%;
}

.discourse-comments-link a,
.discourse-comments-link a:link,
.discourse-comments-link a:visited {
  color: #fff;
  font-family: Arial, san-serif;
  font-size: 14px;
}

.discourse-comments {
  margin-top: 1.5em;
}

#discourse-comments-header,
#discourse-comments-footer {
  text-align: center;
}

#discourse-comments-header {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#discourse-comments-header h3 {
  margin: 0.5em auto;
}

.discourse-comments .comments-count {
  margin: 0.5em auto; 
}

.discourse-comment {
  border-bottom: 1px solid #bbb;
  padding: 0.5em;
}

.discourse-comment .author-icon-link {
  float: left;
  clear: left;
  margin-right: 10px;
}

.discourse-comment .post-date {
  float: right;
  clear: right;
  color: #555;
  font-size: 0.8em;
}

.discourse-comment a.post-link {
  float: right;
  clear: right;
  font-size: 0.9em;
}

.discourse-comments .discourse-footer-link {
  display: block;
  background: #eee;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
