#navigation.slide-menu {
  background: $color_bg_header;

  #close-slide-menu-button {
    a {
      color: #FFF;
      &:hover {
        color: #336699;
      }
    }
  }

  .slide-menu-container {
    ul.menu {
      li {
        a {
          color: #FFF;
        }
      }
    }
  }
}
