// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
@import "susyone";

$phone: 20em 12 44em;
$tab: 768px 16;
$desk: 1024px 16;
$large: 1440px 16;


// Colors.
$gold: #FFCC00;
$pink: #ab009e;
$teal: #00abab;
$green: #55a73f;
$green_button: #ff9900;

// Transition.
@mixin slim-header-cta-transition() {
  @include transition(all .3s ease);
}
@mixin cta-btn() {
  font-size: 12px;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background: $fundraiser_color;
  color: #fff;
  border-radius: 6px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

// CTAs
// Only on desktop for now
.cta-slide-down-from-top {
  display: none;
  @include at-breakpoint($tab) {
    display: block;
  }
  position: relative;
  width: 100%;
  background: $fundraiser_color;
  z-index: 100;
  box-shadow: 1px 1px 15px #333;
  @include slim-header-cta-transition();

  &.slim-display-showing {
    .slim-display {
      visibility: visible;
      opacity: 1;
      max-height: 300px;
      .slim-display-content {
        max-height: 300px;

      }
    }
    @include at-breakpoint($tab) {
      .btn {
        margin: 0 0 0 15px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  &.showing {
    max-height: 500px;
    @include at-breakpoint($desk) {
      bottom: auto;
      max-height: 500px;
    }
    .cta-content {
      background: white;
      border: 3px solid $fundraiser_color;
      max-height: 400px;
      padding: 10px 15px;
      overflow-y: scroll;
      color: black;

      .content-wrapper {
        display: flex;
        display: -webkit-flex;
        .col-one {
          flex: 1;
          -webkit-flex: 1;
          max-width: 135px;
        }
        .col-two {
          flex: 1;
          -webkit-flex: 1;
          padding: 0 2rem;
          font-size: 1rem;
          @include at-breakpoint($desk) {
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  .hide-banner {
    float: right;
    margin: 3px 5px 0 0;
  }
  .cta-content {
    @include slim-header-cta-transition();
    overflow: hidden;
    max-height: 0;
    font-size: 0.875rem;
    background: #fff;
    color: #000;
  }
  .slim-display {
    @include slim-header-cta-transition();
    max-height: 15px;
    min-height: 15px;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    color: #fff;

    p {
      margin: 0;
    }
    #slim-display-content {
      @include slim-header-cta-transition();
      padding: 10px 15px;
      font-size: 1rem;
    }
    .btn {
      padding: 0.5rem;
      background: #fff;
      color: #113b63;
      font-weight: bold;
      margin: 10px 0 0 0;
      display: block;
      text-align: center;
      border-radius: 6px;
      @include at-breakpoint($tab) {
        display: inline-block;
        margin-left: 10px;
      }

    }
  }

  .cta-handle {
    position: absolute;
    top: 98%;
  }

  .cta-handle a {
    font-size: 12px;
    border-radius: 0;
    display: inline-block;
    //padding: 0.25rem 0.5rem 0.25rem 0;
    //@include at-breakpoint($desk) {
      margin-left: 10px;
      padding: 5px 10px;
      background: $fundraiser_color;
      color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    //}
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
  }


  #slider_close_button {
    color: #000;
    cursor: pointer;
    float: right;
  }
}
body.cta-slide-down-from-top-showing {
  //overflow-y: hidden;
}

// Slide Up from bottom
// ONLY FOR <768px for now.
.cta-slide-up-from-bottom {
  @include slim-header-cta-transition();
  font-family: "PT Serif", Arial, sans-serif;
  background: url("/sites/all/modules/custom/ctas/images/dark-vector-bg.svg") right;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
  box-shadow: 1px 1px 15px #333;
  border-top: 5px solid $fundraiser_color;

  @include at-breakpoint($tab) {
    display: none;
  }

  .cta-handle {
    position: absolute;
    top: -35px;
    a {
      font-size: 12px;
      display: inline-block;
      margin: 10px;
      padding: 5px 10px;
      background: $fundraiser_color;
      color: #fff;
      border-radius: 6px;
      font-weight: bold;

    }
    #cta-handle-open,
    #cta-handle-close {
      text-align: center;
    }
  }

  &.slim-display-showing {
    .slim-display {
      visibility: visible;
      opacity: 1;
      max-height: 300px;
      .slim-display-content {
        max-height: 300px;
      }
    }
    @include at-breakpoint($tab) {
      .btn {
        margin: 0 0 0 15px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  &.showing {
    max-height: 500px;
    @include at-breakpoint($desk) {
      //bottom: auto;
      max-height: 500px;
    }
    .cta-content {
      max-height: 400px;
      padding: 10px 15px;
      overflow-y: scroll;
      opacity: 1;
      .content-wrapper {
        .cta-handle-top {
          display: block;
          top: 5px;
        }
      }
    }
    .slim-display {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
    }
  }

  &.super-slim-display-showing {
    .slim-display {
      visibility: visible;
      opacity: 1;
      max-height: 50px;
      #slim-display-content-mobile {
        display: none;
      }
      #super-slim-display-content-mobile {
        max-height: 50px;
        display: block;
      }
    }

    // Hide, even if super-slim-display is set
    // for anything larger than a phone.
    @include at-breakpoint($tab) {
      .slim-display {
        #super-slim-display-content-mobile {
          max-height: 15px;
          display: none;
        }
      }
    }
  }

  .hide-banner {
    float: right;
    margin: 3px 5px 0 0;
  }
  .cta-content {
    @include slim-header-cta-transition();
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    font-size: 0.875rem;

    .content-wrapper {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      flex-wrap: wrap;
      width: 100%;
      .cta-handle-top {
        position: absolute;
        right: 10px;
        top: 15px;
        display: none;
      }
      h3 {
        font-weight: normal;
        margin: 15px 5px;
        font-size: 21px;
      }
      .col-left {
        flex: 4;
      }
      .col-right {
        flex: 8;
        @include at-breakpoint($tab) {
          padding: 0 25px;
        }
      }
      .donate-option-grid {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        .option {
          flex: 1;
          background: $gold;
          color: #000;
          font-weight: bold;
          text-align: center;
          padding: 10px;
          margin: 5px;
          border-radius: 6px;
        }
      }
    }

  }
  .slim-display {
    @include slim-header-cta-transition();
    font-size: 16px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    visibility: hidden;
    max-height: 15px;
    opacity: 0;
    p {
      margin: 0;
    }
    #slim-display-content {
      @include slim-header-cta-transition();
      padding: 10px 0;
      display: none;
      align-items: center;
      -webkit-align-items: center;
      @include at-breakpoint($tab) {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
      }
    }
    #slim-display-content-mobile {
      @include slim-header-cta-transition();
      width: 100%;
      padding: 10px;
      @include at-breakpoint($tab) {
        display: none;
      }
      .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        .btn {
          @include cta-btn();
          background: $fundraiser_color;
          color: #fff;
        }
        #cta-handle-mobile-close {
          color: #fff;
        }
      }
      .form {
        padding: 10px 0;
        margin-top: 10px;
        border-top: 1px solid #333;
        form {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          input {
            padding: 10px;
            border-radius: 6px;
            border: none;
            &[type="text"] {
              flex: 1;
              margin-right: 10px;
              color: #000;
            }
            &[type="submit"] {
              background: $fundraiser_color;
            }
          }
        }
      }
    }
    #super-slim-display-content-mobile {
      @include slim-header-cta-transition();
      display: none;
      flex:1;
      text-align: center;
      .btn {
        @include cta-btn();
      }
    }
    .btn {
      padding: 0.5rem;
      background: $fundraiser_color;
      color: #fff;
      margin: 10px 0;
      display: block;
      text-align: center;
      border-radius: 6px;
      @include at-breakpoint($tab) {
        display: inline-block;
        margin-left: 10px;
      }

    }
  }

  #slider_close_button {
    color: #fff;
    cursor: pointer;
    float: right;
  }
}

body.cta-slide-down-from-top-showing {
  //overflow-y: hidden;
}

// Extra padding top.
body {
  padding-top: 70px !important;
  @include at-breakpoint($tab) {
    padding-top: 150px !important;
  }
  @include at-breakpoint($desk) {
    padding-top: 130px !important;
  }
  @include at-breakpoint($large) {
    padding-top: 130px !important;
  }
}

// Integration with mobile slide out nav.
// Always hide slim display if slide out nav is out.
body.slide-out-menu-open {
  .cta-slide-down-from-top .slim-display {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
  .cta-slide-down-from-top.showing .cta-content {
    max-height: 0;
  }
  .cta-processed.cta-slide-down-from-top {
    display: none;
  }
}

// Content Block One.
.card {
  border-radius: 6px;
  border: 1px solid $gold;
  .card-header {
    background: $gold;
    h4 {
      padding: 0.5rem 1rem;
      margin: 0;
      font-size: 1.25rem;
    }
  }
  .card-block {
    padding: 0.25rem 1rem 0 1rem;
    .field--name-body img {
      display: inline;
    }
  }
  .card-footer {
    padding: 0.5rem;
    text-align: center;
    .btn {
      padding: 0.25rem 0.5rem;
      background: #0e1f43;
      color: #fff;
      margin: 0;
      display: inline-block;
    }
    p {
      margin-bottom: 0;
    }
  }

  &.card-pink {
    border: 1px solid $fundraiser_color;
    .card-header {
      background: $fundraiser_color;
      color: #fff;
    }
  }
}

#block-ctas-cta-modal-winter-2017 {
  display: none;
  #bio_ep {
    border: none;
    border-radius: 6px;
    background: url("/sites/all/modules/custom/ctas/images/modal-bg.png") no-repeat 0 -50px;
    background-size: cover;
    box-shadow: 0 0 100px rgba(0,0,0,0.8);
    .content {
      width: 75%;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      flex-direction: column;
      padding: 160px 0 130px 60px;
      .logo {
        img {
          max-width: 100%;
          @include at-breakpoint($tab) {
            max-width: 300px;
          }
        }
      }
      .text {
        color: #fff;
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 1rem;
        font-family: Helvetica, Arial, sans-serif;
      }
      .actions {
        padding: 40px 0 0 0;
        .btn {
          display: inline-block;
          padding: 10px 30px;
          background: transparent;
          border: 1px solid #fff;
          color: #fff;
          margin-right: 25px;
          &.btn-primary {
            background: #ffcc00;
            color: #000;
            border: none;
          }
        }
      }
    }
  }
}


// Content Block Two (2018 Dark).
.cta-content-block-two {
  background: url("/sites/all/modules/custom/ctas/images/cta-content-2018-earth.png") no-repeat #000 right;
  width: 100%;
  min-height: 287px;
  max-height: 287px;
  padding: 10px;
  color: #fff;
  @include at-breakpoint($tab) {
    padding: 25px;
    border: 4px solid $gold;
  }

  h4 {
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: normal;
    @include at-breakpoint($tab) {
      font-size: 24px;
    }
  }
  .content {
    width: 100%;
    font-size: 12px;
    margin-bottom: 15px;
    @include at-breakpoint($tab) {
      font-size: 14px;
      margin-bottom: 25px;
      width: 85%;
    }
  }
}
.donate-option-grid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: flex-end;

  .option {
    flex: 1;
    background: $gold;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    max-width: 200px;
    @include at-breakpoint($tab) {
      padding: 10px;
    }
  }

  &.dark {
    .option {
      background: #336699;
      color: #fff;
    }
  }

  &.orange {
    justify-content: center;
    .option {
      flex: none;
      background: $fundraiser_color;
      color: white;

    }
  }
}

.cta-content-block-one {
  .donate-option-grid  {
    a {
      background: #336699;
      color: #fff;
    }
    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

/** COLOR SWITCHER **/
.cta-theme-pink {
  .cta-slide-down-from-top {
    background: $pink;
    color: #fff;
    .donate-option-grid.dark .option {
      background: $gold;
      color: #000;
    }
    .cta-handle a {
      background: $pink;
      color: #fff;
    }
  }
}

.cta-theme-teal {
  .cta-slide-down-from-top {
    background: $teal;
    color: #fff;
    .donate-option-grid.dark .option {
      background: $gold;
      color: #000;
    }
    .cta-handle a {
      background: $teal;
      color: #fff;
    }
  }
}

.cta-theme-green {
  .cta-slide-down-from-top {
    background: $green;
    color: #fff;
    .donate-option-grid.dark .option {
      background: $green_button;
      color: #fff;
    }
    .cta-handle a {
      background: $green;
      color: #fff;
    }
  }
}

// Super Header CTA.
.cta-super-header {
  display: none;
  //background: url("/sites/all/modules/custom/ctas/images/people2-2.jpg") no-repeat #000;
  background-size: cover;
  width: 100%;
  position: relative;
  &.showing {
    @include at-breakpoint($tab) {
      display: block;
    }
  }

  //.cta-content {
  //  display: flex;
  //  justify-content: flex-end;
  //  align-items: center;
  //  max-height: 250px;
  //  color: #fff;
  //  padding: 1rem;
  //
  //  .content-wrapper {
  //    width: 100%;
  //    color: #fff;
  //    text-align: right;
  //    padding: 0 2rem;
  //    @include at-breakpoint($tab) {
  //      width: 75%;
  //    }
  //    @include at-breakpoint($desk) {
  //      width: 60%;
  //    }
  //    h2 {
  //      margin: 0 0 0.5rem 0;
  //      padding: 0.25rem 0;
  //      //padding: .5rem;
  //      color: white;
  //      display: inline-block;
  //      background: $fundraiser_color;
  //      //border: 3px solid $fundraiser_color;
  //      box-shadow: 10px 0 0 $fundraiser_color, -10px 0 0 $fundraiser_color;
  //      font-weight: 700;
  //      width: auto;
  //      font-size: 1rem;
  //      @include at-breakpoint($desk) {
  //        font-size: 2rem;
  //      }
  //    }
  //
  //    p {
  //      margin: 0;
  //      padding: 0.25rem 0;
  //      //padding: .5rem;
  //      color: white;
  //      display: inline-block;
  //      background: $fundraiser_color;
  //      //border: 3px solid $fundraiser_color;
  //      box-shadow: 10px 0 0 $fundraiser_color, -10px 0 0 $fundraiser_color;
  //      font-weight: 700;
  //      width: auto;
  //      font-size: 0.875rem;
  //      @include at-breakpoint($desk) {
  //        font-size: 1.5rem;
  //      }
  //    }
  //    .donate-option-grid {
  //      margin: 1rem -0.75rem 0 0;
  //      a {
  //        font-size: 0.875rem;
  //        padding: 7px;
  //        background: #fff;
  //        color: #113b63;
  //        max-width: 150px;
  //        &:hover {
  //          background: $fundraiser_color;
  //          color: #fff;
  //        }
  //      }
  //    }
  //  }
  //}
}
body.cta-super-header-applied {
  padding-top: 70px !important;
  @include at-breakpoint($tab) {
    padding-top: 150px !important;
  }
  @include at-breakpoint($desk) {
    padding-top: 220px !important;
  }
}
body.cta-super-header-showing {
  padding-top: 0 !important;
  #header-container {
    position: relative;
  }
}
body.slide-out-menu-open {
  .cta-super-header {
    display: none !important;
  }
}

// Fundraiser Progress Gauge.
.cta-sidebar-gauge {
  .progress {
    background-color: #fff;
    height: 1.5rem;
    position: relative;
    .progress-bar {
      background-color: $fundraiser_accent;
      padding: 5px;
    }
    .progress-bar-striped {
      background-size: 1.5rem;
    }
  }
  .goal {
    text-align: right;
    margin-top: 15px;
    font-size: 0.75rem;
  }
}
#block-ctas-cta-fundraiser-gauge-sidebar,
.mondrian-region--secondary .panel-pane.pane-ctas-cta-fundraiser-gauge-sidebar {
  //border: 10px solid $fundraiser_color;
  padding: 15px;
  background: #000;
  color: #fff;
}


// Newsletter Signup.
.newsletter-signup-panel {
  padding: 2rem 1.5rem !important;
  background-color: $fundraiser_color !important;
  color: #fff;
  h1, h2.block__title {
    color: #fff !important;
    font-size: 2.3rem !important;
    font-weight: bold !important;
    font-family: $font_sans, san-serif, serif;
    margin: 0 !important;
    text-transform: uppercase;
    border: none;
    span {
      border: none;
    }
  }
  p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
  }
  .subscriptions {
    display: none;
  }
  input[type="text"] {
    margin: 1rem 0;
    padding: 1.25rem 1rem !important;
    color: #000 !important;
  }
  input[type="submit"] {
    background: #113b63;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
  }
}

.donation-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @include at-breakpoint(450px 16) {
    flex-direction: row;
    align-items: flex-end;
  }

  &.donation-methods {
    flex-direction: row !important;
  }

  &.center {
    justify-content: center;
  }

  .btn {
    flex: 1;
    width: 100%;
    margin-bottom:0.5rem;
    text-align: center;

    &.btn-image {
      border-radius: 0;
      padding: 0;
      border: none;
      background: none;
      margin: 0 0.25rem;
    }

    @include at-breakpoint(450px 16) {
      margin-bottom:0;
    }
  }

  .btn-primary {
    background: $fundraiser_color;
  }

  .btn-cc {
    background: url("/sites/all/themes/omega_dreams/images/cc-icon.png") no-repeat;
    background-size: contain;
    min-height: 50px;
  }
  .btn-paypal {
    background: url("/sites/all/themes/omega_dreams/images/paypal-cc-icon.png") no-repeat;
    background-size: contain;
    min-height: 50px;
  }
  .btn-actblue {
    background: url("/sites/all/themes/omega_dreams/images/actblue-cc-icon.png") no-repeat;
    background-size: contain;
    min-height: 50px;
  }

  i {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  i.credit-card-icon {
    background-image: url('/sites/all/modules/custom/ctas/images/card_icon.png');
    width: 70px;
    height: 25px;
    margin: 0 auto;

  }
  i.credit-card-icons-color {
    background-image: url(/sites/all/modules/custom/ctas/images/card_icons-colors.png);
    width: 200px;
    height: 40px;
  }
  i.paypal-icon {
    background-image: url('/sites/all/modules/custom/ctas/images/paypal-icon.png');
    width: 70px;
    height: 25px;
    margin: 0 auto;
  }
  i.actblue-icon {
    background-image: url('/sites/all/modules/custom/ctas/images/actblue-icon.png');
    width: 70px;
    height: 25px;
    margin: 0 auto;
  }

}

// Inline Parallax.
.node {
  @include at-breakpoint($tab) {
    .block-inject {
      display: none;
    }
  }

  .cta-mobile-content-parallax {
    margin: 0 -2rem;
    background: black;
    @include at-breakpoint($tab) {
      margin: 0;
    }

    .disclaimer {
      background: black;
      p {
        padding: 0.5rem 1rem;
        margin: 0;
        font-family: Arial, san-serif;
        color: white;
        font-size: 0.75rem;
        font-weight: bold;
      }
    }

    .hide-banner {
      position: absolute;
      right: 0;
      top: 35px;
      color: white;
    }

    .parallax-wrapper {
      background: #000;
      background-size: cover;

      .parallax-content {
        min-height: 400px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &.content-pane {
          background-color: rgba(0,0,0,0.3);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          overflow:hidden;
          .inner {
            padding: 2rem;
            h1,h2,h3 {
              color: white;
            }

            .btn {
              display: inline-block;
              margin: 0 0.25rem;
              @include at-breakpoint($tab) {

              }
            }
          }
        }

        &.pane-1 {
          background-image: url('/sites/all/modules/custom/ctas/images/march2019/cta-content-march-2019.jpg');
          background-attachment: fixed;
          z-index: 2;
        }
      }
    }
  }
}

.cta-super-header {
  background: #000;
  .parallax-wrapper {
    width: 100%;
    margin: 0 auto;
    .parallax-content {
      height: 300px;
      background-position: bottom left;
      background-repeat: no-repeat;

      &.content-pane {
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: white;
        text-align: right;

        .inner {
          max-width:65%;

          @include at-breakpoint($large) {
            max-width:50%;
          }

          h1,h2,h3 {
            color: white;
            margin: 0;
          }

          p {
            margin: 0.5rem 0;
          }
        }

        @include at-breakpoint($large) {
          background-color: transparent;
        }
      }

      &.pane-1 {
        background-position: bottom left;
        background-repeat: no-repeat;
        z-index: 2;
      }
    }
  }
}

//#block-block-85,
//#greta-block {
//  background: url('/sites/all/modules/custom/ctas/images/chicago-teacher-strike.png') no-repeat center;
//  background-size: cover;
//  color: white;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-end;
//  min-height: 360px;
//  h1,h2 {
//    color: white;
//    margin: 0;
//    font-size: 1.5rem;
//  }
//}

.cta-sidebar-block {
  background-position: bottom;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 600px;
  padding: 1rem;
  h1,h2 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
  }
}

// CTA MODAL

