
// Image caption handling
// -----------------------------
.image-caption-container {
  @include inline-block;
  position: relative;
  
  img {
    margin: 0;
    padding: 0;
  }
  
  .image-caption {
    display: block;
    background: transparent url("../images/overlays/black-ol.png") repeat scroll 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0.375em 0.5em;
    color: #cdcdcd;
    font-size: 0.8em;
    font-style: italic;
    line-height: 125%;
  }
  
  &.img-width-full { display: block; }
}

.image-caption-container-left  { float: left; padding-right: 0.25em; }
.image-caption-container-right { float: right; padding-left: 0.25em; }

img.image-full,
img.width-full {
  width: 100% !important;
  height: auto !important;
}