
// Override Mondrian Panel Style
// Set breakpoint values.
$phone : 320px;
$tab   : 900px;
$desk  : 1024px;

.mondrian {
	@include breakpoint($phone) {
		.mondrian-region--main {
			width: 100%;
      clear: both;
      overflow: hidden;
		}
		.mondrian-region--secondary {
			width: 100%;
		}
	}
	@include breakpoint($tab, true) {
		.mondrian-region--main {
			width: 62.727%;
            clear: none;
            float: left;
            margin-left: 0;
            margin-right: -100%;
		}
		.mondrian-region--secondary {
			width: 32.727%;
            clear: none;
            float: right;
            margin-left: 0;
            margin-right: 0;
		}
	}
	.mondrian-region--main {
		.panel-pane {
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
// END - Override Mondrian Panel Style

.l-content {
    .view-content {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: solid 1px #cccccc;
      font-family: $font_serif;
      font-size: 14px;
    }

  .view-footer .more-in {
    text-align: right;
    margin-bottom: 1em;
  }
}

.view-display-id-categorized_news_primary,
.view.view-display-id-news_block_primary {
  .views-field-field-hp-title {
    font-family: $font_serif;
    font-size: 35px;
    line-height: 1.1em;
    font-weight:bold;
    text-align: center;
    padding-bottom: 0.5em;

    a {
      color: $color_article_title;
    }
  }
}

.view.secondary-news-article  {
  .views-row {
    position: relative;
    padding-bottom: 1em; // add room for more link
  }

  .views-field-field-hp-title {
    font-family: $font_serif;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: 1.1em;
    a {
      color: $color_article_title;
    }
  }
  .views-field-body {
    font-size: 15px;
  }
  .views-field-field-hp-author {
    font-family: $font_condensed;
    color: $color_links;
    padding-bottom: 5px;
  }

  .views-field-field-article-img {
    min-width: 191px;
    width: 100%;
    @include inline-block;
    margin: 0 20px 0.5rem 0;
    @include breakpoint($phone) {
      float: none;
      img {
        width: 100%;
      }
    }
    @include breakpoint($tab) {
      float: left;
      width: 220px;
      img {
        width: auto;
      }
    }

  }


  .views-field-view-node {
    clear: both;
    float: right;
    a {
      @extend .chevron;
    }
  }
}

.view.tertiary-news-article {
  .views-row {
    width: 100%;
    margin-right: 4%;
    float: left;
    position: relative;
    padding-bottom: 20px;
    @include breakpoint($tab) {
      width: 48%;
    }
  }

  .views-row-last { margin-right: 0; }
  .views-field-field-hp-title {
    font-family: $font_serif;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: 1.1em;
    a {
      color: $color_article_title;
    }
  }
  .views-field-body {
    padding-bottom: 10px;
  }
  .views-field-field-article-img {
    display: inline-block;
    padding: 0 20px 10px 0;
    float: none;
    width:100%;
    @include breakpoint($tab) {
        float: left;
        min-width: 191px;
    }
    img {
      width: 100%;
    }
  }
  .views-field-field-hp-author {
    font-family: $font_condensed;
    color: $color_links;
    padding-bottom: 5px;
  }
  .views-field-field-subtitle {
    font-size: 14px;
  }
  .views-field-view-node {
    text-align: right;
    a {
      @extend .chevron;
    }
  }
}

.view.remaining-news-article {
  .views-row {
    float: none;
    width: 100%;
    margin-right: 0;
    border-bottom: solid 1px $color_bg_sidebar;
    margin-bottom: 10px;
    padding: 10px 0;
    clear: both;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(768px) {
      width: 50%;
      float: left;
      border-bottom: none;
      margin-bottom: 0;
      clear: none;
      padding: 2%;
    }
    @include breakpoint($tab) {
      width: 25%;
    }

    .views-field-field-image {
      float: left;
      padding-right: 0.5rem;
      width: 50%;
      a {
        display: block;
        img {
          width: 100%;
        }
      }
      @include breakpoint(768px) {
        width: 100%;
        float: none;
        padding:0;
      }
    }
    .views-field-field-hp-title {
      font-family: $font_serif;
      font-size: 14px;
      padding: 0;
      a {
        color: $color_article_title;
      }
    }

  }
  .view-footer { text-align: right; }
}

.panel-pane.category-more-link {
  text-align: right;
}

.block,
.pane-views ,
.pane-block {
  h2 {
	color:  $color_title;
    border-bottom: solid 2px $color_title;
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 5px;

    span {
      border-bottom: solid 5px $color_title;
      padding-right: 3px;
    }
  }
}

.more-link {
    padding-bottom: 10px;
    a {
        @extend .chevron;
        &:before {
            margin-right: 0.1em;
        }
    }
}

.page-taxonomy-term {
	.l-content {
		h1 {
		  color: #113B63;
		  font-size: 40px;
		  margin: 0 0 20px;
		  padding: 10px;
		}
	}
}


// More in X pages --- --- ---
.view-more-in-topic {

    table.views-table {
        margin-bottom: 20px;
        tr {
            td {
                float: none !important;
                display: table-cell !important;
                vertical-align: top;
                padding: 20px 20px 20px 0px !important;
                border-top: solid 1px #cccccc;
                min-width: 191px;

            }
        }
        a.article-title {
            //@extend .article-title;
        }
        a.read-more {
            @extend .chevron;
        }

    }
}
.node-type {
    text-transform: uppercase;
    font-size: 0.85em;
    color: #999999;
}
// END - More in X pages --- --- ---
