@import "susyone";
$phone: 20em 12 44em;
$tab: 768px 16;
$desk: 1024px 16;

// When the nav is open with a slim header.
body.header-container-slim {
  #navigation.slide-menu {
    top: 39px;
    @include at-breakpoint($tab) {
      top: 56px;
    }
  }
}

#navigation.slide-menu {
  @include transition(all .3s ease);
  position: fixed;
  overflow-y: scroll;
  top: 107px;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 0;

  &.open {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include at-breakpoint(480px 16) {
      width: 50%;
    }
    @include at-breakpoint(768px 16) {
      width: 30%;
    }
  }

  #close-slide-menu-button {
    margin-right: auto;
    padding: 0 2rem;
    a {
      color: #999;
      &:hover {
        color: #336699;
      }
    }
  }

  .slide-menu-container {
    min-width: 150px;
    .l-region--navigationn {

    }
    ul.menu {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        list-style: none;
        padding: 0.25rem 1rem;
      }
    }

    .block {
      border-bottom: 1px solid #ccc;
      padding: 1rem 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
