
.view-special-coverage {
	.view-content {
	}
	.views-field-title {
		font-family: $font_condensed;
		font-size: 24px;
		font-weight: bold;
		color: $color_title;
	}
	.views-field-field-featured-image {
		border-top: solid 7px $color_breaking;
	}
	.views-field-body {
		p.first-child { margin-top: 0 };
	}


} // .view-special-coverage 