// Import the legacy variables (relevant for controlling compass-normalize).

@import "variables/**/*";

body {
	font-family: $font_sans;
	font-size: 17px;
	color: $color_body;
}

a {
	color: $color_links;
	text-decoration: none;
	&:hover { text-decoration: none; }
}

.pullquote {
	color: #111111;
    float: right;
    font-size: 18px;
    font-variant: normal;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: right;
    width: 40%;
}

.news-article {
	font-family: $font_serif;
	font-weight: bold;
	color: $color_body;
}

h1 {
	font-family: $font_serif;
	font-size: 36px;
    font-weight: bold;
    color: $color_title;
	margin: 0 0 20px 0;
	line-height: 1em;
}

.gray-allcaps {
    font-size: 0.9em;
    color: #999999;
    text-transform: uppercase;
}

.image-right {
    float: right;
    padding: 0 0 20px 20px;
}
.image-left {
    float: left;
    padding: 0 20px 20px 0;
}
.caption {
  background: $color_bg_sidebar;
  color: $color_body;
  position: relative;
  top: -4px;
  font-size: 12px;
  font-style: normal;
  padding: 5px 10px;
}



