
/* Grid handling
 ---------------------------- */

.form-item-grid-system.form-item label {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}


/* Content builders generic 
----------------------------- */

#content-canvas {
  position: relative;
  border: 1px solid #ccc;
  padding: 3px;
}

#content-canvas .content-container,
.fieldset-content .content-container {
  border: 2px dashed #ccc;
  min-height: 24px;
  padding: 3px 3px 0;
  margin: 0.5em 5px;
}

#builder-toolbar {
  float: right;
  width: 300px;
}

#builder-toolbar .fieldset-wrapper {
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#builder-toolbar > .form-wrapper { border: none; }
#builder-toolbar .fieldset-wrapper .form-actions { margin-bottom: 0; }

#unused-items .content-container, 
#edit-unused-fields .content-container {
  border: 2px solid #bbb;
  padding: 4px 3px;
  min-height: 200px;
}


/* Draggable items
-------------------------*/
.content-container .ui-draggable {
  position: relative;
  float: left;
  width: 100%;
 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui-draggable .item-handle {
  background: #bbb;
  padding: 4px;
  margin: 0;
  border-radius: 3px;
}

.ui-draggable .item-handle > *,
.ui-draggable .item-handle .field-property,
.ui-draggable .item-handle .form-item label {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  *vertical-align: auto;
  
  margin-right: 3px;
}

.ui-draggable .item-handle > .field-properties {
  display: block;
  font-size: 11px;
  line-height: 115%;
}

.ui-draggable .item-handle > .field-properties .property-label {
  color: #455;
  font-weight: bold;
}

.ui-draggable .item-handle .field-property { padding-left: 22px; }

.ui-draggable .item-handle .form-item {
  background-color: transparent;
  border: none;
}

.ui-draggable .item-handle .drag-icon {
  background: url("/misc/draggable.png") no-repeat scroll 4px -17px;
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.ui-draggable .item-name { width: 230px; }

.ui-draggable .item-handle:hover {
  background-color: #7b8;
  color: #fff;
}

.draggable-field,
.draggable-container {
  background-color: #c8c8c8;
  padding: 2px;
  margin-bottom: 4px !important;
  border-radius: 5px;
}

.draggable-container {
  background: #eaeaea;
  border: 1px solid #fff;
}

.draggable-field:last-child,
.draggable-container:last-child { margin-bottom: 0; }

.draggable-field .item-handle { background-color: #94b094; }
.draggable-container > .item-handle { background-color: #94a4c0; }
.draggable-container > .item-handle:hover { background-color: #abe; }

.field-extra .item-handle { background-color: #979797; }
.field-extra .item-handle:hover { background-color: #aaa; }

.ui-draggable .item-handle .form-item,
.ui-draggable .item-handle .form-item label {
  padding: 0;
  margin-left: 0.5em;
  margin-bottom: 0;
}


/* Field / Container ops.
 ---------------------------- */
.ui-draggable a.draggable-field-op,
.ui-draggable input.draggable-field-op {
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;  
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  padding: 1px 4px !important;
  margin-right: 1px;
  color: #444;
  font-size: 18px;
  line-height: 100%;
  z-index: 100;
  box-shadow: none;
  text-shadow: none;
}

.ui-draggable input.draggable-field-op {
  background: transparent;
  width: 26px !important;
  margin-right: 1px !important;
  border: none;
}

.ui-draggable a.draggable-field-op:hover,
.ui-draggable input.draggable-field-op:hover,
.ui-draggable a.draggable-field-op.active-op {
  background: #fff;
  border: 1px solid #888;
  margin-top: -1px;
  margin-right: 0;
  color: #444;
  font-size: 18px;
  z-index: 205;
  border-radius: 3px;
  text-shadow: none;
}

.ui-draggable a.draggable-field-op.dropdown.active-op {
  border-radius: 3px 3px 0 0;
  border-bottom: none;
}

.ui-draggable .field-actions {
  list-style: none inside;
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  padding: 0 0.5em 0.25em;
  border-radius: 3px 0 3px 3px;
  margin: 0;
  z-index: 200;
}

.ui-draggable .field-summary {
  border: none;
  margin-top: 0.5em;
}

.ui-draggable .field-actions li {
  list-style: none inside;
}


/* Unused fields
 ---------------------------- */

#unused-fields .draggable-field .item-handle,
#edit-unused-fields .draggable-field .item-handle {
  background-color: #c9a;
  color: #523;
  padding: 4px !important;
}

#edit-unused-fields .item-handle .form-item,
#edit-unused-fields a.draggable-field-op,
#edit-unused-fields input.draggable-field-op,
.ui-draggable.ui-draggable-dragging .form-item,
.ui-draggable.ui-draggable-dragging a.draggable-field-op,
.ui-draggable.ui-draggable-dragging input.draggable-field-op {
  display: none;
}


/* Settings form configurations
 ------------------------------ */
.fa { font-family: FontAwesome !important; }

.ui-draggable label {
  color: #666666;
  font-size: 10px;
  font-weight: bold;
}

.ui-draggable select { font-size:12px; }

.ui-draggable .form-wrapper,
.ui-draggable .content-wrapper-settings {
  border: none;
  margin: 0;
}

.ui-draggable .item-handle .form-item select { width: 175px; }

.content-wrapper-settings { background: #fff; }

.content-wrapper-settings .form-item {
  background: transparent;
  padding: 0.375em 0.5em 0;
  border: none;
}

.content-wrapper-settings .form-type-select label,
.content-wrapper-settings .form-type-textarea label,
.content-wrapper-settings .form-type-textfield label {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  width: 150px;
  text-align: right;
}

.content-wrapper-settings > .form-type-checkbox {
  font-size: 0.8em;
  margin-left: 155px;
}


.content-wrapper-settings .form-type-select label:after,
.content-wrapper-settings .form-type-textarea label:after,
.content-wrapper-settings .form-type-textfield label:after {
  content: ":";
}

.content-wrapper-settings .form-item .description { padding-left: 160px; }

.content-wrapper-settings input,
.content-wrapper-settings input.fluid {
  max-width: 300px;
}

.content-wrapper-settings .form-textarea-wrapper { 
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  width: 300px;
}

.content-wrapper-settings .form-actions { margin: 0 0.25em 0.75em; }
