
.iwapi-dockable {
  background: #ccc;
  padding: 0.5em 1em;
}

.iwapi-dockable.fixed-clone {
  position: fixed;
  margin: 0;
}

.iwapi-dockable a.button,
.iwapi-dockable input.form-submit {
  margin-bottom: 0;
}