
.table-builder-settings {
  border: 1px solid #ccc;
  padding: 3px;
}

/* Active region
------------------------- */
.table-builder-settings .table-canvas-wrapper {
  float: left;
  width: 80%;
}

.table-builder-settings .column-wrapper {
  position: relative;
  float: left;
  background: #eaeaea;
  margin-right: 1%;
}

.column-wrapper .remove-column-btn {
  position: absolute;
  background: transparent url("../icons/delete-icon.png") no-repeat 5px 0;
  border: none;
  top: 4px;
  right: 0px;
  width: 24px;
  height: 24px;
  color: transparent;
  *line-break: 0;
  overflow: hidden;
  text-indent: 99999px;
}

.draggable-field { position: relative; }

.draggable-field input.table-edit-field {
  position: absolute;
  background: #eaeaea url("../icons/configure.png") no-repeat center center;
  border: 2px solid #999;
  top: 5px;
  right: 8px;
  width: 26px;
  height: 26px;
  padding: 3px;
  margin: 0;
  color: transparent;
  *line-break: 0;
  overflow: hidden;
  text-indent: 99999px;
  
  border-radius: 20px;
}

.table-builder-settings .content-container {
  border: 3px dashed #aaa;
  padding: 5px;
  margin: 1em 10px 0.5em;
}

.table-builder-settings .content-container .draggable-field {
  background: #c8c8c8;
  padding: 4px;
  margin-bottom: 6px;
  
  border-radius: 4px;
}

.content-container div.handle-title {
  background: #aaa url("/misc/draggable.png") no-repeat scroll 4px 8px;
  height: 20px;
  margin: 0;
  padding: 4px 20px;
  font-weight: bold;
  
  border-radius: 3px;
}

.content-container div.handle-title:hover,
.content-container.disabled-fields div.handle-title:hover {
  background-color: #7b8;
  color: #fff;
}


/* Disabled region / fields
---------------------------- */
.table-builder-settings .disabled-wrapper {
  background: #fadff4;
  float: right;
  width: 20%;
}

.content-container.disabled-fields div.handle-title {
  background-color: #c9a;
  color: #523;
}