
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Narrow:400,700|PT+Serif:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);
//@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

// Font Families --- --- ---
$font_base		: Arial, sans-serif;
$font_sans		: 'Source Sans Pro', $font_base;
$font_serif		: 'PT Serif', $font_base;
$font_condensed	: 'PT Sans Narrow', $font_base;


// General / Global Colors --- --- ---
$color_body			: #333333;
$color_accent		: #067a0b;
$color_breaking		: #e74747;
$color_article_title: #333333;
$color_title		: #336699;
$color_links		: #336699;

$color_bg_header	: #113b63;
$color_bg_sidebar	: #f0f0f0;
$color_bg_blue		: #eff2f6;


// Specific Colors --- --- ---
$color_facebook		: #3b5998;
$color_twitter		: #00aced;
$color_rss			: #fa9d39;
$color_email		: #00aced;
$blue           : #113b63;


// Fundraising Colors
$gold: #FFCC00;
$pink: #ab009e;
$hotpink: #E72A83;
$breitbart: #FF550F;
$polyred: #CA2B31;
$skyblue: #46A0FF;
$bloodorange: #f9610c;

$fundraiser_color: $bloodorange;
$fundraiser_compliment_color: #000;
$fundraiser_accent: #24c3bd;

.article-title {
	font-family: $font_serif;
	color: $color_body;
	font-weight: bold;
	font-size: 16px;
	a { color: $color_body; }
}

.underline {
	color:  $color_title;
    border-bottom: solid 2px $color_title;
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 5px;

    &:after {
      position: absolute;
      border-bottom: solid 5px $color_title;
      width: 65%;
      content: ' ';
      bottom: 0;
      left: 0;
    }
}
