@import "susy";
$phone: 20em 12 44em;
$tab: 768px 16;
$desk: 1024px 16;
$large: 1440px 16;

body {
    overflow: visible;
}
.panel-pane,
.view-content,
.views-row,
.view {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

input[type=text] {
	border: 0;
	margin: 0;
	padding: 2px;
}

a.button,
input[type=submit] {
  background-color: $color_accent;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 10px;
  font-family: $font_sans;
}
a.btn {
  border-radius: 3px;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: $blue;
  color: #fff;
  &.btn-blue {
    background: $blue;
    color: #fff;
  }
  &.btn-white {
    background: #fff;
    color: $blue;
  }
  &.btn-fundraiser {
    background: $fundraiser_color;
    color: #fff;
  }
  &.btn-actBlue {
    background-image:url("/sites/all/themes/omega_dreams/images/actblue-logo.svg");
    color: #fff;
    height: 40px;
  }
}
.donate {
    &:before {
		content: '\f054';
		font-family: FontAwesome;
		color: #ffffff;
		font-size: 0.9em;
		margin-right: 0.5em;
		top: 1px;
		position: relative;
    }
}


// usage: '@extend .chevron'  --- use to add a > in front of something
.chevron {
	&:before {
		content: '\f054';
		font-family: FontAwesome;
		color: $color_accent;
		font-size: 0.9em;
		margin-right: 0.5em;
		top: 1px;
		position: relative;
	}
}

.node {
    padding-right: 0;
    font-family: $font_serif;
	@include at-breakpoint($tab) {
		padding-right: 40px;
	}
}

// override
.field-wrapper.inline-fields > div.grouping-prefix, .field-wrapper.inline-fields > div.grouping-suffix, .field-wrapper.inline-fields > div.grouping-spacer, .field-wrapper .inner-column.inline-fields > div.grouping-prefix, .field-wrapper .inner-column.inline-fields > div.grouping-suffix, .field-wrapper .inner-column.inline-fields > div.grouping-spacer {
  margin: 0 0.5em 0 0;
}
.page-media-browser {
    h1 { font-size: 16px !important; }
}

.big {
  font-size: 1.15rem;
}

