img, media {
  max-width: 100%;
  height: auto;
}
.field--name-body {
    img {
        display: block; // brought over from live site... could do weird things.
    }
  
}


// Placeholder for image caption module.
img.caption {}

.image-caption-container {
	img {
		//padding-bottom: 2em;
	}
	span.image-caption {
		background: $color_bg_sidebar;
		color: $color_body;
		position: relative;
		top: -4px;
		font-size: 12px;
		font-style: normal;
	}
}